.destination-img {
    width: 312px;
    height: 360px;
    margin: 0 auto;
}

.tokyo .destination-img {
    background: url(../img/destinations/tokyo-mobile.jpg) /* no-repeat*/;
    background-size: cover;
}

.osaka .destination-img {
    background: url(../img/destinations/osaka-mobile.jpg) /* no-repeat*/;
    background-size: cover;
}

.destinations-articles {
    width: 312px;
    margin: 0 auto;
}

.destinations-articles h4 {
    margin: 24px 0;
}

.destinations-articles a {
    width: 312px;
    text-align: center;
    margin: 24px 0;
}