@font-face{
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
    font-style: normal;
    font-display: swap;
}

:root{
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;

    --button-primary-color: #B81515;
    --hover-secondary-color: #8F0101;

    --text-primary-color: #222222;
    --text-secondary-color: #FFFFFF;

    --categories-bg-color: #F5F5F5;

    --title-weight: 700;
    --text-weight: 400;
    --menu-text-weight: 500;
}

/* CSS RESET */
body, img, h1, h3, h4, p, fieldset, legend, label, input, select, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat";
    color: var(--text-primary-color);
}

.section-title {
    margin-top: 88px;
    margin-inline: 24px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: var(--title-weight);
    margin: 0;
    text-align: center;
}

.section-title hr {
    width: 180px;
    height: 4px;
    background-color: var(--button-primary-color);
    border: none;
    margin: 16px auto 32px;
}

.button {
    display: inline-block;
    border-radius: 16px;
    width: 280px;
    height: 64px;
    background-color: var(--button-primary-color);
    color: var(--text-secondary-color);
    font-weight: var(--title-weight);
    font-size: 20px;
    line-height: 64px;
    text-decoration: none;
}

@media screen and (min-width: 700px) {
    .section-title h2 {
        font-size: 32px;
    }
}

@media screen and (min-width: 1024px) {
    .button:hover {
        background-color: var(--hover-secondary-color);
    }
}