/* .text igual ao destinations.css | Unificar no global.css */
/* Fazer uma revisão geral para não precisar ficar definindo tantas margens diferentes e apenas usar um gap no container com display flex  */
/* Consertar destinations-articles */

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    width: 312px;
    margin-bottom: 24px;
}

.text h4 {
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: var(--title-weight);
    color: var(--text-primary-color);
}

.text p {
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
    color: var(--text-primary-color);
}

.imgs {
    width: 312px;
    height: 460px;
    display: grid;
    grid-template-columns: 144px 144px;
    grid-template-rows: 254px 182px;
    gap: 24px;
    /* margin-top: 24px; */
}
.vertical-img1 {
    background: url(../img/payments/vertical1-mobile.png);
    background-size: cover;
}

.vertical-img2 {
    background: url(../img/payments/vertical2-mobile.png);
    background-size: cover;
}

.horizontal-img {
    background: url(../img/payments/horizontal-mobile.png);
    background-size: cover;
    grid-column: span 2;
}

@media screen and (min-width: 700px) {
    .imgs {
    width: 648px;
    grid-template-columns: 312px 312px;
    margin-top: 24px;
    }
    .vertical-img1 {
        background: url(../img/payments/vertical1-tablet-desk.png);
        background-size: cover;
    }

    .vertical-img2 {
        background: url(../img/payments/vertical2-tablet-desk.png);
        background-size: cover;
    }

    .horizontal-img {
        background: url(../img/payments/horizontal-tablet-desk.png);
        background-size: cover;
    }

    .text {
    width: 648px;
    margin-bottom: 0;
    }
}

@media screen and (min-width: 1280px) {
    .content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 23px; /* Na verdade é auto, ajustar */
    margin-top: 64px;
    }
    
    .imgs {
    width: 790px;
    grid-template-columns: 383.5px 383.5px;
    margin-top: 0px;
    }

    .text {
    width: 384px;
    }

    .text h4 {
    width: 285px;
    }

    .text p {
    width: 361px;
    }
}